
<p>ログインに失敗しました</p>
<%= render 'layouts/header' %>
  <div class="login">
  <h1 class ="login-title">ログイン</h1>
    <div class="login_form">
      <%= form_with(url: login_path, scope: :session) do |f| %>

        <div class="form_box ">
        <div class="form_label">
          <label>メールアドレス</label><br>
        </div>
        <%= f.email_field :email, class: 'form-underline' %>
      </div>

      <div class="form_box">
        <div class="form_label">
          <label>パスワード</label><br>
        </div>
        <%= f.password_field :password,  class: 'form-underline' %>
      </div>

      <div class="form_box">
        <%= f.submit "ログインする", class: "login_submit_button" %>
      </div>

      <div class="form_box">
      <%= link_to "新規登録する", '/users/new', class: "login_submit_button" %>
      </div>
      <% end %>
    </div>

  </div>
<%= render 'layouts/footer' %>
