<%= render 'layouts/header' %>

<div class="login">

  <h1 class ="login-title">新規登録</h1>

  <div class="row">
    <div class="login_form">
      <%= form_with(model: @user) do |f| %>

      <div class="form_box ">
        <div class="form_label">
          <label>氏名</label><br>
        </div>
        <%= f.email_field :name, class: 'form-underline' %>
      </div>

      <div class="form_box">
        <div class="form_label">
          <label>メールアドレス</label><br>
        </div>
        <%= f.email_field :email, class: 'form-underline' %>
      </div>

      <div class="form_box">
        <div class="form_label">
          <label>パスワード</label><br>
        </div>
        <%= f.password_field :password,  class: 'form-underline' %>
      </div>

      <div class="form_box">
        <%= f.submit "登録する", class: "button_blue blue_button_font" %>
      </div>
      
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>