<%= render 'layouts/header' %>

<div class="user-info">
  <div class="user-info-flame">
      <div class="user-avatar">

      <% unless @user.avatar.nil? %>
      <%= image_tag(@user.avatar, class: "user-avatar") %>
    <% end %>
      </div>
      <div class="user-self-introduction">
        <h1>自己紹介</h1>
        <p><%= @user.introduction %></p>
        <%= link_to "自己紹介を編集する", edit_user_path ,class:"user-self-introduction-btn"%>
      </div>
  </div>
  <p class="user-name"><%= @user.name %></p>

  <div class="study-chart-frame">
  <div class="study-chart-box">
    <h1>学習チャート</h1>
  </div>
  <%= link_to "編集する", skill_edit_user_path(@user) ,class: "user-self-introduction-btn" %>

<canvas id="myChart"></canvas>

</div>

<%= render 'layouts/footer' %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['先々月', '先月', '今月'],
        datasets: [
          {
            label: 'バックエンド',
            data: ['<%= @buckend_two_months_ago_sum %>',
                  '<%= @buckend_lastmonth_sum  %>' ,
                  '<%= @buckend_thismonth_sum %>'],
            backgroundColor: [
                'rgb(243,174,187)'
            ],
        },
        {
            label: 'フロントエンド',
            data: ['<%= @frontend_two_months_ago_sum %>',
                   '<%= @frontend_lastmonth_sum  %>' ,
                   '<%= @frontend_thismonth_sum %>'],
            backgroundColor: [
                'rgb(247,209,170)',
            ]
        },
        {
          label: 'インフラ',
          data: ['<%= @infra_two_months_ago_sum %>',
                 '<%= @infra_lastmonth_sum  %>' ,
                 '<%= @infra_thismonth_sum %>'],
          backgroundColor: [
            'rgb(250,230,181)',
          ]
      }
      ]
    },
    options: {
        scales: {
            y: {
              suggestedMin: 0,
              suggestedMax: 100
            }
        }
    }
});
</script>