<% content_for :js do %>

  <%= javascript_import_module_tag "add_script" %>

<% end %>


<%= render 'layouts/header' %>




<div class="edit-flame">
  <h1><%=  @category.name %>に項目を追加</h1>


    <%= form_with(model: @item, url: skill_edit_user_path(created_at: @create, selected_no: @no), local: true, html: { id: "add-form" }) do |form| %>


    <div class="edit-box">
      <div class="edit-self-introduction">
        <label>項目名</label>
        <%= form.text_area :name, class: 'add-items-form',id: "itemName"%>
      </div>
      <div class="add-img-box">
        <label>学習時間</label>
        <%= form.number_field :learning_time, min: 0, class: '',id:"itemLearningtime" %>

        <%= form.hidden_field :categories_id, value: @category.id ,id: "categoryid" %>
        <%= form.hidden_field :user_id, value: @user.id ,id: "userId" %>
        <%= form.hidden_field :category_name, value: @category.name ,id: "categoryname" %>
        <%= form.hidden_field :created_at, value: @create  ,id: "createdat" %>
      </div>
      <div class="edit-confirm">
        <button id='addButton' add-button-id="<%= @user.id %>"><%= form.submit '追加する', class: "edit-confirm-button create-btn", id:"input-rule" %></button>
      </div>


      <div id='add-modal' class='modal' >
      <div class="modal-content">
      <div id="addItemIdArea"></div> 
      <p id="addedItemName"></p>

  
        <div class="modal-buttons">
          <button class="back-edit-button" id="add-confirm-yes"><%= link_to "編集ページに戻る", skill_edit_user_path(created_at: @create,selected_no: @no)  %></button>
        </div>
      </div>
    </div>
    </div>





  <% end %>


 
</div>
<%= render 'layouts/footer' %>


