<% content_for :js do %>

  <%= javascript_import_module_tag "add_script" %>
<% end %>


<%= render 'layouts/header' %>




<div class="edit-flame">
  <h1><%=  @category.name %>に項目を追加</h1>

    <%= form_with(model: @item, local: true, html: { id: "add-form" }) do |form| %>


    <div class="edit-box">
      <div class="edit-self-introduction">
        <label>項目名</label>
        <%= form.text_area :name, class: 'add-items-form',id: "itemName"%>
      </div>
      <div class="add-img-box">
        <label>学習時間</label>
        <%= form.number_field :learning_time, min: 0, class: '',id:"itemLearningtime" %>

        <%= form.hidden_field :categories_id, value: @category.id %>
        <%= form.hidden_field :user_id, value: @user.id ,id: "userId" %>
      </div>
      <div class="edit-confirm">
        <button id='addButton' add-button-id="<%= @user.id %>"><%= form.submit '追加する', class: "edit-confirm-button create-btn" %></button>
      </div>


      <div id='confirmation-modal-add' class='modal' id: "addItemModal" >
      <div class="modal-content">
      <p id="addedItemName"></p>
        <p><%= @category.name %>に<span id="itemNameDisplay"></span>を<span id="modalLearningTimedisplay"></span>で追加しました！</p>
  
        <div class="modal-buttons">
          <button class="back-edit-button" id="add-confirm-yes"><%= link_to "編集ページに戻る", items_create_item_path %></button>
        </div>
      </div>
    </div>
    </div>





  <% end %>


 
</div>
<%= render 'layouts/footer' %>


