<% content_for :js do %>

  <%= javascript_import_module_tag 'select' %>
  <%= javascript_import_module_tag 'delete_script' %>
  <%= javascript_import_module_tag 'update_script' %>
<% end %>



<%= render 'layouts/header' %>




<div class="skill-edit-main">
  <div class="pull-down-bottun">
  <label class="selectbox-3">
  <%= select_tag 'date_selection', options_for_select([
    [@today.month.to_s + '月', "#{@today},#{@user.id},#{1}", selected: ("1" == @no)],
    [@last_month_day.month.to_s + '月', "#{@last_month_day},#{@user.id},#{2}", selected: ("2" == @no)],
    [@two_months_ago_day.month.to_s + '月', "#{@two_months_ago_day},#{@user.id},#{3}",selected: ("3" == @no)]
  ], selected: "#{@no}") %>
</label>
  </div>

  
 
  <script>

  </script>

  <div class="category-box">
    <div class="category-title">
      <h1><p>バックエンド</p></h1>
      <%= link_to "項目を追加する", add_items_path(@user,categories_id: 1,created_at:  @selected_day), class:"add-items-button" %>
    </div>
    
    <table>
      <tr>
        <td>項目名</td>
        <td>学習時間</td>
        <td></td>
        <td></td>
      </tr>

      <% Item.where(categories_id: 1,user_id:@user.id, created_at:  @selected_day.in_time_zone.all_month).each do |p| %>
        <tr>
          <td><%= p.name %></td>

          <%= form_with(model: p, url: skill_edit_user_path(created_at: @selected_day, selected_no: @no), method: :post, id: "update-form") do |form| %>
            <td><%= form.number_field :learning_time, min: 0, value: p.learning_time ,id: "learningTime"  , class: '' %></td>
            <td><button id='updateButton', update-button-id="<%= p.id %>" ><%= form.submit "学習時間を保存する", class: "learning-time-confirm update-btn"  %></button>
            <%= form.hidden_field :item_id, value: p.id, id:'item-id'%>
            </td>

            <div id="update-modal" class="modal">
            <div class="modal-content">
                <div id="updateItemIdArea"></div> 
                 
                <div class="modal-buttons">
              <button class="back-edit-button" id="update-confirm-yes"><%= link_to "編集ページに戻る",skill_edit_user_path(created_at: @selected_day,selected_no: @no)  %></button>
              </div>
            </div>
          </div>
        </td>
        <% end %>
          <td>
          <button id="deleteButton" class="d-button delete-btn", delete-button-id="<%= p.id %>" >削除する</button>
          
          <div class="modal" id="delete-modal">
          <div class="modal-content">
          <div id="deletedItemIdArea"></div> 

            <div class="modal-buttons">
            <button class="back-edit-button" id="confirm-yes"><%= link_to "編集ページに戻る",skill_edit_user_path(created_at: @selected_day,selected_no: @no) , method: :delete  %></button>
              </div>
            </div>
          </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>



  <div class="category-box">
    <div class="category-title">
      <h1><p>フロントエンド</p></h1>
      <%= link_to "項目を追加する", add_items_path(@user,categories_id: 2), class:"add-items-button" %>
    </div>
    
    <table>
      <tr>
        <td>項目名</td>
        <td>学習時間</td>
        <td></td>
        <td></td>
      </tr>

      <% Item.where(categories_id: 2,user_id:@user.id, created_at:  @selected_day.in_time_zone.all_month).each do |p| %>
        <tr>
          <td><%= p.name %></td>

          <%= form_with(model: p) do |f| %>
            <td><%= f.number_field :learning_time, min: 0, value: p.learning_time, class: '' %></td>
            <td><%= f.submit "学習時間を保存する", class: "learning-time-confirm update-btn" %></td>

            <div id="confirmation-modal-update"  >
            <div class="modal-content">
            <p><%= p.name %>の学習時間を保存しました！</p
              <div class="modal-buttons">
              <button class="back-edit-button" id="update-confirm-yes"><%= link_to "編集ページに戻る" %></button>
              </div>
            </div>
          </div>
        </td>
        <% end %>
          <td>
          <button id="deleteButton" class="d-button delete-btn", delete-button-id="<%= p.id %>" >削除する</button>
          
          <div class="modal" id="modal">
          <div class="modal-content">
          <div id="deletedItemIdArea"></div> 

            <div class="modal-buttons">
            <button class="back-edit-button" id="confirm-yes"><%= link_to "編集ページに戻る",skill_edit_user_path , method: :delete  %></button>
              </div>
            </div>
          </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="category-box">
  <div class="category-title">
    <h1><p>インフラ</p></h1>
    <%= link_to "項目を追加する", add_items_path(@user,categories_id: 3), class:"add-items-button" %>
  </div>
  
  <table>
    <tr>
      <td>項目名</td>
      <td>学習時間</td>
      <td></td>
      <td></td>
    </tr>

    <% Item.where(categories_id: 3,user_id:@user.id, created_at:  @selected_day.in_time_zone.all_month).each do |p| %>
      <tr>
        <td><%= p.name %></td>

        <%= form_with(model: p) do |f| %>
          <td><%= f.number_field :learning_time, min: 0, value: p.learning_time, class: '' %></td>
          <td><%= f.submit "学習時間を保存する", class: "learning-time-confirm update-btn" %></td>

          <div id="confirmation-modal-update" class="modal" data-items-update-url="<%= items_update_path %>">
          <div class="modal-content">
          <p><%= p.name %>の学習時間を保存しました！</p
            <div class="modal-buttons">
            <button class="back-edit-button" id="update-confirm-yes"><%= link_to "編集ページに戻る" %></button>
            </div>
          </div>
        </div>
      </td>
      <% end %>
        <td>
        <button id="deleteButton" class="d-button delete-btn", delete-button-id="<%= p.id %>" >削除する</button>
        
        <div class="modal" id="modal">
        <div class="modal-content">
        <div id="deletedItemIdArea"></div> 

          <div class="modal-buttons">
          <button class="back-edit-button" id="confirm-yes"><%= link_to "編集ページに戻る",skill_edit_user_path , method: :delete  %></button>
            </div>
          </div>
        </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

  
 

</div>



<%= render 'layouts/footer' %>

<div></div>

